
nav.navbar{
    width: 100%;
    background-image: linear-gradient(100deg, #212529 25%, #3D3D3D 10%);
}
nav div div li ul li a.text-white:hover{
    background: rgba(255,255,255,.1)
}
nav div li ul li a {
    color:white !important;
}
nav div li ul li:hover a {
    background: rgba(255,255,255,.1) !important;
}
nav div li:focus-within,nav div li:hover {
    background: rgba(255,255,255,.1) !important;
}
.nav-link, .nav-link:hover{
    color:white;
}