.overview{
    width:80%;
    height:70vh;
    background-image: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.3));
    justify-content: center;
    align-items: space-around;
    flex-direction: column;
    /* overflow: hidden; */
}
.overview .title{
    width: 100%;
    justify-content:center;
}
.overview .prets{
    background: rgba(0,0,0,.1);
    height: 50%;
}
.overview .prets .lastpret{
    background: rgba(0,0,0,.1);
    height: 100%;
    width: 50%;
}
.overview .prets .speedpret{
    background: rgba(0,0,0,.2);
    height: 100%;
    width: 50%;
}
