<h1>Log In</h1>
<% if (messages.error) { %>
  <%= messages.error %>
<% ) %>
<form action="/login" method="post">
  <div>
    <label for="email">E-mail</label>
    <input type="email" id="email" required name="email" />
    <label for="password">Password</label>
    <input type="password" id="password" required name="password" />
    <input type="submit" id="submit" value="Login" />
  </div>  
</form>
<a href="/register">Register</a>
<a href="/">Index</a>
