<h1>register</h1>
<form action="/register" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" required name="name" />
    <label for="email">E-mail</label>
    <input type="email" id="email" required name="email" />
    <label for="password">Password</label>
    <input type="password" id="password" required name="password" />
    <input type="submit" id="submit" value="Register" />
  </div>
</form>
<a href="/login">Login</a>
<a href="/">Index</a>
